{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="ja">
    <head>
        <meta charset="utf-8">
        <title>とすぶろぐ</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
        <header>
            <div class="menu-bar">
            </div>
                <div class="header-menu">
                    <h1><a href="/">とすのぶろぐ</a></h1>
                
                <div class="menu-title">
                    
                    <a href="Top.html">TOP</a>
                    <a href="Company-profile.html">勉強</a>
                    <a href="Construction-examples.html">日記</a>
                    <a>その他</a>
                    <a>ぎゃらりー</a>
                </div>
            </div>
        </header>
        <body>
            <?xml version="1.0" encoding="UTF-8"?>
            <div class="header-top">
                <h1>テキストテキストテキスト</h1>
            </div>
            <!--プロフィール-->
                <div class="strong">
                    <h2>とすの自己紹介</h2>
                    <p>テキストテキストテキスト<br>テキストテキストテキス</p>
                </div>
            
            <!--好きなこと-->
            <div class="service-menu">
                <div class="service-menu-list">
                    <div class="service-menu-header">
                        <h2 class="lead-service">好きなこと</h2>
                    </div> 
                </div>
            </div>
        
        </body>
        <footer>
            <p>ltrntxs@gmail.com</p>
            <p class="copyright">&copy; copyright</p>
        </footer>
</html>
