{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="ja">
    <head>
        <meta charset="utf-8">
        <title>とすぶろぐ</title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->
        <!-- <link rel="stylesheet" href="{% static '/css/blog.css' %}"> -->
        <link rel="stylesheet" href="/static/css/blog.css">
    </head>
        <header>
            <div class="menu-bar">
            </div>
                <div class="header-menu">
                    <a class="blog-title" href="/">とすのぶろぐ</a>
                
                <div class="menu-title">
                    
                    <a href="Top.html">TOP</a>
                    <a href="Company-profile.html">勉強</a>
                    <a href="Construction-examples.html">日記</a>
                    <a>その他</a>
                    <a>ぎゃらりー</a>
                </div>
            </div>
        </header>
        <body>
            <div class="plofile">
                <h3>自己紹介</h3>
                <p>とすです。都内でITの会社員やってます。<br>業務内容は主にWebデザインとコーディング、AIシステム運用保守です。<br>現在はPython/HTML.CSS/Figma/基本情報技術者試験の勉強をしています。</p>
            </div>
            <div class="about-blog">
                <h3>このぶろぐについて</h3>
                <p>noteというアプリで書いた記事を「勉強」「日記」「その他」に分類しています。<br>「ぎゃらりー」では自分の描いた絵を載せています。</p>
            </div>
        </body>
        <footer>
            <p>ltrntxs@gmail.com</p>
            <p class="copyright">&copy; copyright</p>
        </footer>
</html>
