<!DOCTYPE html>
<html dir="ltr" lang="ja">
    <head>
        <meta charaset="utf-8">
        <title>べんきょう</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/study.css">
    </head>
    <body>
        <header>
            <div class="header-menu">
                <a class="blog-title" href="/">とすのぶろぐ</a>
                <div class="menu-title">
                    <a href="post_list.html">TOP</a>
                    <a href="study.html">勉強</a>
                    <a href="diary.html">日記</a>
                    <a>その他</a>
                    <a>ぎゃらりー</a>
                </div>
            </div>
        </header>

        <main>

        </main>

        <footer>
            <p>ltrntxs@gmail.com</p>
            <p class="copyright">&copy; copyright</p>
        </footer>
    </body>
</html>