/*ヘッダ*/
header {
    margin: 0;
}

.header-menu {
    background-color: rgb(41, 44, 56);
    padding-top: 20px;
}

.blog-title {
    color: aliceblue;
    font-size: 40px;
    padding-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.header-menu p {
    margin: 20px;
}

.menu-title a {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: right;
    font-family: 'Times New Roman', Times, serif;
    width: 600px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*body*/
body {
    margin: 0;
}


.plofile {
    color:rgb(122, 122, 122);
    text-align: center;
    background-color: rgb(225, 207, 240);
    padding-bottom: 20px;

}

.plofile h3 {
    margin-top: 0;
    padding-top: 20px;
}

.about-blog {
    color:rgb(122, 122, 122);
    background-color: rgb(231, 246, 253);
    padding-bottom: 20px;
}

.about-blog {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}
/*フッタ*/
footer {
    background-color: rgb(250, 242, 230);
    padding-top:6px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.copyright {
    text-align: center;
    margin: 0;
}